.Logoimg{
		 width:90px;
    	float:left;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    font-size:16px;
    background:#222222;
    color: #fff;
}
.container{
   
    margin:15px auto;
    padding:50px 30px 10px 30px;
    background:#000;
    line-height:23px;
    border:1px solid #dfdfdf;
    border-radius:10px 10px;
   
}

#Logo{
    width:80px;
    float:left;
}
#LogoText{
    float:left;
    padding:16px;
   
}
hr.header{
	  border: 2px solid #fff;
	  color: #fff;
}

.txt_password{
	color: green;
}


.Phoneticr{
	height: 150px;
}
